header{
    background-image:linear-gradient(rgba(22, 223, 230, 0.5),rgba(0,0,0,0.5)), url("Blue\ Modern\ Colorful\ Illustration\ Medical\ Flyer1.png");
    height: 100vh;
    background-size: cover;
}
p{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 30%;
    margin: 2rem auto;
    border: 2px solid gray;
    padding: 2rem;
    
}